MOYSKLAD_TOKEN=
MOYSKLAD_BASE_URL=https://api.moysklad.ru/api/remap/1.2
MOYSKLAD_CA_BUNDLE=
MOYSKLAD_INSECURE_SSL=false

TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_CHAT_IDS=
TELEGRAM_ALERT_CHAT_IDS=
TELEGRAM_ACCESS_PASSWORD=1821
